<!--@subject {{trans "Delivery Reminder"}} @-->
{{template config_path="design/email/header_template"}}
<h3>{{trans 'Delivery Reminder'}}</h3>
<ul style="list-style-type:none;">
    <li>{{trans 'Notice to customers:'}}<strong>{{trans 'Lê Văn Tý'}}</strong></li>
    <li>{{trans 'Your order will be delivered within 1 hour'}}</li>
    <li> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxQ6qMF7qutorOoOUmv5cSaeUZdaoRnAmM8-WWdHcHE-tPR6K_O7dDhwIlwrc-WuYiPGg&usqp=CAU"/></li>
</ul>
{{template config_path="design/email/footer_template"}}
